<h1>BudgetInt Dashboard</h1>
<h3>Current Balance: {{ balance }}€</h3>

<form action="/add" method="POST">
    <div>
        <input type="radio" id="expense" name="tx_type" value="Expense" checked>
        <label for="expense">Expense</label>
        <input type="radio" id="income" name="tx_type" value="Income" checked>
        <label for="income">Income</label>
    </div>
    <label for="tx_category">Category:</label><br>
    <input type="text" id="tx_category" name="categ_name" required><br>

    <label for="tx_amount">Amount:</label><br>
    <input type="number" id="tx_amount" name="amount_val" step="0.01" required><br>
    
    <button type="submit">Save Transaction</button>
</form>

<div style="margin-bottom: 20px;">
    <a href="{{ url_for('handle_clear') }}" 
       onclick="return confirm('EXTREME WARNING: This will delete your entire history. Proceed?')"
       style="color: white; background-color: #ff4d4d; padding: 8px 15px; text-decoration: none; border-radius: 4px; font-weight: bold;">
       Reset All Data
    </a>
</div>


<table border="1">
    <thead>
        <tr>
            <th>Category</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for tx in trans_list %}
        <tr>
            <td>{{ tx.category }}</td>
            <td>{{ tx.amount }}€</td>
            <td>{{ tx.date }}</td>
            <td>
                <a href="{{url_for('handle_delete', transaction_id=tx.id) }}"
                onclick="return confirm('Delete this transaction?')">
                Delete
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

